<nav class="navbar navbar-expand-lg navbar-light bg-secondary sticky-top">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="./assets/img/logo-nav.png" height="50px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
        aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown text-white">
                    <a class="nav-link text-white" href="index.html?route=xiaoyangjingjixue"
                        role="button" aria-haspopup="true" aria-expanded="false">
                        小样经济学
                    </a>
                </li>
                <li class="nav-item dropdown text-white">
                    <a class="nav-link text-white" href="index.html?route=luojishanxia"
                        role="button" aria-haspopup="true" aria-expanded="false">
                        落基山下
                    </a>
                </li>
                <li class="nav-item dropdown text-white">
                    <a class="nav-link text-white" href="index.html?route=weixuanshuguan"
                        role="button" aria-haspopup="true" aria-expanded="false">
                        微玄书馆
                    </a>
                </li>
                <li class="nav-item dropdown text-white">
                    <a class="nav-link text-white" href="index.html?route=qiguaidexiaodian"
                        role="button" aria-haspopup="true" aria-expanded="false">
                        奇怪的笑点
                    </a>
                </li>
                <!-- dropdown version -->
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#"
                        id="zhuanlanDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                      专栏
                    </a>
                    <div class="dropdown-menu bg-secondary" aria-labelledby="zhuanlanDropdown">
                      <a class="dropdown-item text-white" href="#">小样经济学</a>
                      <a class="dropdown-item text-white" href="#">落基山下</a>
                      <a class="dropdown-item text-white" href="#">微玄书馆</a>
                      <a class="dropdown-item text-white" href="#">奇怪的笑点</a>
                    </div>
                </li> -->
                <li class="nav-item dropdown text-white">
                    <a class="nav-link text-white" href="./pages/tutorial/demo.html"
                        role="button" aria-haspopup="true" aria-expanded="false">
                        关于我们
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>