<div class="bg-secondary">
    <div class="container pt-2 pb-2">
        <div class="row">
            <div class="col-md-4 col-12 d-flex align-items-center
                justify-content-center justify-content-md-start">
                <div class="text-center text-md-left">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <img src="./assets/img/erweima.jpg" height="100px">
                        </div>
                        <div class="col-md-6 col-12 d-flex align-items-center
                            justify-content-center justify-content-md-start">
                            <h6 class="font-weight-bold mb-0 mt-2">
                                微信扫一扫<br/>关注我们
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 d-flex align-items-center
                justify-content-center">
                <div class="text-center">
                    <h5>其于治天下也，犹涉海凿河，而使蚊负山也。--《庄子·应帝王》</h5>

                </div>
            </div>
            <div class="col-md-4 col-12 d-flex align-items-center
                justify-content-center justify-content-md-end">
                <div class="text-center text-md-right">
                    <div class="mb-2">
                        <i class="fas fa-envelope mr-3"></i> 605273899@qq.com | 投稿
                    </div>
                    <div>
                        <a href="https://www.zhihu.com/people/wen-zi-fu-gao-shan"
                            target="_blank">
                            <img class="social-media-icon"
                                src="./assets/icons/zhihuicon.jpeg"/>
                        </a>   
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>